# Android
# Build your Android project with Gradle.
# Add steps that test, sign, and distribute the APK, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/android

trigger:
- master

pool:
  vmImage: 'macos-latest'

steps:
  - task: Gradle@2
    inputs:
      workingDirectory: ''
      gradleWrapperFile: 'gradlew'
      gradleOptions: '-Xmx3072m'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.11'
      publishJUnitResults: false
      tasks: 'assembleMagiskDebug'

  - task: CopyFiles@2
    inputs: 
      contents: '**/build/outputs/magisk/dreamland-**.zip'
      targetFolder: '$(build.artifactStagingDirectory)'
      cleanTargetFolder: true
      flattenFolders: true
  
  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: '$(build.artifactStagingDirectory)'
      artifactName: 'magisk-dreamland-ci.zip'
      artifactType: 'container'

pr: none
